@mixin button {
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 5rem;
  transition-duration: 0.25s;
  cursor: pointer;
  background: #dcdcdc;
  margin-bottom: 0.3rem;
  &:hover {
    background: #5C9CE5;
    color: white;
  }
}

#Modal {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: 70%;
  margin: auto;
  border: none;
  padding: 2rem;
  border-radius: 25px;
  outline: none;
  transition: opacity 0.5s;
  opacity: 0;
  pointer-events: none;
  transition-duration: 0.5s;

  button {
    @include button
  }

  &[open] {
    opacity: 1;
    pointer-events: inherit;

    form {

      text-align: center;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 1rem;

      .close {
        place-self: flex-end;
      }

      .searchResult {
        width: 100%;
        max-height: 15rem;
        display: grid;
        place-items: center;
        gap: 1rem;
        overflow-y: auto;

        a {
          @include button;
          width: 70%;
        }
      }

      .controls {
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;
        gap: 1rem;


        a {
          @include button;
        }
      }
      input[type=text] {
        width: 80%;
        min-width: 20%;
        outline: 1px solid gray;
        border: none;
        border-radius: 25px;
        height: 2rem;
        padding: 0 1rem;
      }
    }
  }


  &::backdrop {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(15px);
    height: 80rem;
  }

  @media (max-width: 1100px) {
    width: 90%;
    //min-height: 60%;
    &[open] {
      form {
        .searchResult {
          max-height: 8rem;
          a {
            width: 90%;
          }
        }
        .controls {
          width: 100%;
        }
      }

    }

  }
}

