.DataWrapper{
  width: 60%;
  height: 100%;
  //padding: 1rem;

  .DataContainer{
    position: relative;
    z-index: 4;
    padding: 0 5rem;
    width: 100%;
    height: 100%;
    background: rgb(108, 108, 108);
    //border-radius: 60px 0 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    //gap: 2rem ;
  }
  @media (max-width: 1100px) {
    width: 100%;
    .DataContainer{
      background: rgb(108, 108, 108);
      padding: 1rem 1rem;
      gap: 1rem;
    }
  }
}