.Hero{
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  .TextContainer{
    font-size: 18px;
    font-weight:200 ;
  }
  .Profile_Settings{
    display: flex;
    width: 10%;
    font-size: 30px;
  }
}