.Chart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45vh;
  background: var(--cardColor);
  padding: 2rem;
  border-radius: 25px;
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  color: var(--textColor);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Controls {
      select {
        outline: none;
        border: none;
        border-radius: 25px;
      }
    }
  }
}



