.Chart {
  background: var(--cardColor);
  padding: 2rem;
  border-radius: 25px;
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  color: var(--textColor);

  header {
    display: flex;
    justify-content: space-between;
    .Controls{
      select{
        outline: none;
        border: none;
        border-radius: 25px;
      }
    }
  }
  .tip{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .max{
      background:#FF7272FF ;
      width: 1rem;
      height: 5px;
      border-radius: 25px;
    }
    .min{
      background:#5c9ce5 ;
      width: 1rem;
      height: 5px;
      border-radius: 25px;
    }
  }
}


