:root{
  --bgColor:#5C9CE5;
  --sunColor:#ECB150;
  --accentColor:#21283C;
  --shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.45);
  --cardColor:rgb(255, 255, 255,0.75);
  --cardColor_NoAlpha: rgb(255, 255, 255) ;
  --textColor:#00000;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;

}

@media (max-width: 1100px) {
  html,body{
    overflow-x: clip;
  }

}

